[submodule "src/lib/doslib"]
        path = src/lib/doslib
        url = https://github.com/joncampbell123/doslib.git

[submodule "src/lib/jsmn"]
	path = src/lib/jsmn
	url = https://github.com/zserge/jsmn.git

[submodule "CatacombApocalypse"]
	path = 16/CatacombApocalypse
	url = https://github.com/FlatRockSoft/CatacombApocalypse.git

[submodule "wolf3d"]
        path = 16/wolf3d
        url = https://github.com/id-Software/wolf3d.git

[submodule "keen"]
        path = 16/keen
	url = https://github.com/keendreams/keen.git
