# Lines starting with '#' are considered comments.
# Ignore (generated) html files,
*.html
*.htm
!proj16.bfproject
*.obj
*.OBJ
*.[O]
*.BCO
*.*~
FUCK
*.err
*.ERR
*.lib
*.LIB
makefile~
README~
TODO~
LICENCE~
*.mah
*.MAH
!modex.lib
img
!.git/config
!.gitmodules
# except foo.html which is maintained by hand.
#!foo.html
# Ignore objects and archives.
*.[oa]

